<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<div class="col-mid-5">
<form action="{% url 'show' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
           <table  border="0" align="center">
                <tr>
               <th>
               {{ form }}
               </th>
           </tr>
               <th width="50" colspan="2" style="text-align: center">
                <button type="submit" class="btn btn-outline-success"  style="box-shadow: 0 0 20px#dddddd, 0 0 40px#dddddd,
                0 0 80px#dddddd  ">Submit</button>
               </th>
                </tr>


           </table>
     </form>
</div>
{% for x in messages %}
    <h3 style="text-align: center;color: crimson;font-size: 40px;font-family: cursive">
    {{ x }}
    </h3>
{% endfor %}
</body>
</html>

